.main-header{
    width: 375px;
    /* height: 90px; */
    display: flex;
    align-items: center;
}

.logo{
    height: 96px;
}

.upbox-text{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 36px;
letter-spacing: 0.28em;
color: #000000;
}

.hambergur-icon{
    height: 36px;
    margin-left: 40px;
}



@media only screen and (min-width: 768px) {
    .hambergur-icon {
      display: none;
    }
    .this-month-text{
        min-width: 30px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.16em;
        color: #000000;
        margin-left: 40px;
            }
            .this-month{
                min-width: 100px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 13px;
                letter-spacing: 0.16em;
                color: #000000;
                margin-left: 40px;
                    }
        .header-login{
               width: 105px; 
               background: #FFFFFF;
               border: 2px solid #4A4A4A;
               border-radius: 300px;
               margin-left: 30px;
           }

        .header-login-text{
            width: 83px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            letter-spacing: 0.12em;
            color: #000000;
        }   
  }

.look-container{
    width: 375px;
    /* height: 945px; */
}

.look-text{
width: 270px;
/* height: 224px; */
font-family: 'DM Serif Text';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 56px;
color: #000000;
margin-top: 10px;
margin-left: 45px;
}

@media screen and (max-width: 768px) {
    .this-month{
        display: none;
    }

    .this-month-text{
        display: none;
    }

    .header-login-text{
        display: none;
    }

    .instagram-facebook-logo{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .look-text{
width: 400px;
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50px;
color: #000000;
    }
    
.upbox-text-two{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 35px;
    }

    .product-box-img{
        margin-left: 400px;
        min-width: 400px;
        min-height: 300px; 
      }

  }

  @media screen and (min-width: 992px) {
      .this-month{
          margin-left: 270px;
      }

      .this-month-text{
          margin-left: 50px;
      }
  }

.upbox-text-two{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px; 
line-height: 23px;
letter-spacing: 0.01em;
color: #000000;
margin-left: 35px;
margin-top: 20px;
}

.sign-in-container{
    width: 133px;
    /* height: 51px; */
    background: #FFFFFF;
    border: 4px solid #EF8094;
    border-radius: 300px;
    margin-top: 15px;
    margin-left: 28px;
}

.sign-in-text{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
letter-spacing: 0.12em;
color: #000000;
margin-left: 35px;
}

.product-box-img{
  height: 250px; 
  width: 350px;
  margin-top: 40px; 
}